---
import '../styles/global.css';
import DemoSwappableStore from '../components/demo-swappable-store';
---

<html data-theme="light">
  <head>
    <title>Demo | React Nook</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/react-nook/favicon.svg" />
    <link rel="sitemap" href="/react-nook/sitemap-index.xml" />
  </head>
  <body>
    <h2 class="text-center text-2xl my-2">Swappable store</h2>
    <DemoSwappableStore client:only="react" />
  </body>
</html>
