---
import '../styles/global.css';
import DemoSwappingBehavior from '../components/demo-swapping-behavior';
import DemoGranularMount from '../components/demo-granular-mount';
import { DemoHookInANook } from '../components/demo-hook-in-a-nook';
---

<html data-theme="light">
  <head>
    <title>Demo | React Nook</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/react-nook/favicon.svg" />
    <link rel="sitemap" href="/react-nook/sitemap-index.xml" />
  </head>
  <body>
    <h2 class="text-center text-2xl mt-20 mb-2">Swapping behavior</h2>
    <DemoSwappingBehavior client:only="react" />
    <h2 class="text-center text-2xl mt-20 mb-2">Granular mount</h2>
    <DemoGranularMount client:only="react" />
    <h2 class="text-center text-2xl mt-20 mb-2">Hook in a nook</h2>
    <DemoHookInANook client:only="react" />
  </body>
</html>
